<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Users List</title>
</head>
<body>
    <table border="1">
        <caption>Users List</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Password</th>
                <th>Age</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.age }}</td>
                <td>
                    <a href="/user/delete/?uid={{user.id}}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>